/* home.css */

.home-container {
    text-align: center;
    margin: 0;
    background-color: #2A2B2A;
    height: 100vh;
    padding-top: 100px;
  }
  
  .banner {
    background-color: #FAFFF6;
    color: #2A2B2A;
    padding: 40px 0;
    margin-bottom: 40px;
  }
  
  .site-title {
    font-size: 3em;
    margin: 0;
  }
  
  .slogan {
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  .halves {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .half {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .half:hover {
    transform: scale(1.05);
  }
  
  .link-button {
    text-decoration: none;
    color: black;
    text-align: center;
  }
  
  .link-button h2 {
    font-size: 2em;
    margin: 0;
  }
  
  .link-button p {
    font-size: 1.2em;
    margin-top: 10px;
  }
  